<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta http-equiv="Content-Language" content="pl" />
    <meta name="description" content="Wyszukaj seansu w danym przedziale godzin" />
    <meta name="keywords" content="wyszukaj seans, seans, repertuar, kina, kino, kino w Lodzi" />
    <title>'Wyszukiwarka Seansów'</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style_home_page.css') }}" />

</head>
<body>
<div class="form-group">
    <header>Wyszukiwarka seansów</header>
    <button onclick="location.href='selected';" id="przycisk" class="btn btn-primary">
        Wyświetl wszystkie filmy w Heliosie</button>Zapraszamy!!!<br />

    <form action="/selected_movie" method="POST">
        <label for="movie">Nazwa filmu:
            <select name= movies>
                {% for movie in movies %}
                <option value= "{{movie}}" SELECTED>{{movie}}</option>"
                {% endfor %}
            </select>
        </label>
        <input type="submit" value="Wyszukaj">Comming soon :)
    </form>

    <!--button onclick="location.href='selected_movie';" class="btn btn-secondary">Wyszukaj</button>Comming soon :)<br /-->

    <a href="https://www.helios.pl/47,Lodz/Repertuar/" id="przycisk" class="btn btn-info">Przejdź do strony Helios</a>
    <a href="https://www.cinema-city.pl/kina/manufaktura/1080#/buy-tickets-by-cinema?in-cinema=1080&at=2019-12-21&view-mode=list"
       id="przycisk" class="btn btn-dark">Przejdź do strony Cinema City</a>
    <a href="https://multikino.pl/repertuar/lodz/teraz-gramy/alfabetyczny" id="przycisk" class="btn btn-danger">Przejdź do strony Multikino</a>

</div>
</body>
</html>