<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta http-equiv="Content-Language" content="pl" />
    <meta name="description" content="Wyszukaj seansu w danym przedziale godzin" />
    <meta name="keywords" content="wyszukaj seans, seans, repertuar, kina, kino, kino w Lodzi" />
    <title>'Wyszukiwarka Seansów'</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style_home_page.css') }}" />

</head>
<body>
<div class="form-group">
    <header>Wyszukiwarka seansów</header>
    <button onclick="location.href='selected';" id="przycisk" class="btn btn-primary">
        Wyświetl wszystkie filmy w Heliosie</button>Zapraszamy!!!<br />

    <form action="main_paig.html" class="was-validated">
        <label for="movie">Nazwa filmu:

                <select name= colours method="GET" action="/">
    {% for colour in colours %}
    <option value= "{{colour}}" SELECTED>{{colour}}</option>"
    {% endfor %}
</select>

    </label><br />
        
    <button onclick="location.href='selected_movie';" id="przycisk" class="btn btn-primary">Wyszukaj</button>Comming soon :)<br />

    <a href="https://www.helios.pl/47,Lodz/Repertuar/" id="przycisk" class="btn btn-primary">Przejdź do strony Helios</a>

     <!--div class="form-group">
     <label for="sel1">Wybierz godziny:</label>
  <select class="form-control" id="sel1" style="width: 170px">
    <option>10:00-11:00</option>
    <option>11:00-12:00</option>
    <option>12:00-13:00</option>
    <option>13:00-14:00</option>
  </select>
     </div-->
    </form>
    <!--button-- type="submit" class="btn btn-primary">Wyszukaj</button-->
</div>
</body>
</html>